<h1>Each celebrity</h1>

<ul>
    <li><p class="celebrity-detail">Name:</p> {{ celebrities.name }}</li>
    <li><p class="celebrity-detail">Occupation:</p> {{ celebrities.occupation }}</li>
    <li><p class="celebrity-detail">CatchPhrase:</p> {{ celebrities.catchPhrase }}</li>
</ul>